.root{
     -fx-background-image: url("/porras/dylan/proyectofinalfrontend_dylanporras/Imagenes/loginFondo.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#btnIngresar{
    -fx-background-radius: 5;
    -fx-background-color: #0066b2;

}

#btnIngresar:pressed{
    -fx-background-color: #6CB4EE;
}

.text-field {
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;/*Se quitan los bordes del txt y se deja solo el de abajo*/
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.label{
    -fx-text-fill: black;
}

#btnRegistrarse{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}



